spot-2.9/
owl-21.0/
**/__pycache__
.idea
wandb
experiments
.pytest_cache
ldba.png
ldba.pdf
transition_graph.png
transition_graph.pdf
ldba_graph.pdf
ldba_graph.png
trajectories.pdf
cache
/eval_results/
multiple_results/
*.fish
paper_utils

